docs/plan/04-api/external.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn:deepai:service-directory:external"
           targetNamespace="urn:deepai:service-directory:external"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation>Normative, versionless External HTTPS XML contract.</xs:documentation>
  </xs:annotation>

  <xs:element name="RegistrationRequest" type="tns:RegistrationRequestType" />
  <xs:element name="CertificateRenewalRequest" type="tns:CertificateRenewalRequestType" />
  <xs:element name="Response" type="tns:ResponseType" />
  <xs:element name="Service" type="tns:ServiceType" />

  <xs:complexType name="RegistrationRequestType">
    <xs:sequence>
      <xs:element name="RegistrationRequestId" type="tns:GuidType" />
      <xs:element name="Name" type="tns:NameInputType" />
      <xs:element name="ProductCode" type="tns:ProductCodeInputType" />
      <xs:element name="ServiceHostName" type="tns:IdentityInputType" />
      <xs:element name="ServiceIpv4Address" type="tns:IdentityInputType" />
      <xs:element name="Port" type="tns:PortType" />
      <xs:element name="CertificateSigningRequest" type="tns:CanonicalBase64Type" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CertificateRenewalRequestType">
    <xs:sequence>
      <xs:element name="RenewalRequestId" type="tns:GuidType" />
      <xs:element name="ProductCode" type="tns:ProductCodeInputType" />
      <xs:element name="CurrentSerialNumber" type="tns:SerialNumberType" />
      <xs:element name="TimestampUtc" type="tns:ProofUtcDateTimeType" />
      <xs:element name="Nonce" type="tns:CanonicalBase64Type" />
      <xs:element name="Name" type="tns:NameInputType" />
      <xs:element name="ServiceHostName" type="tns:IdentityInputType" />
      <xs:element name="ServiceIpv4Address" type="tns:IdentityInputType" />
      <xs:element name="Port" type="tns:PortType" />
      <xs:element name="CertificateSigningRequest" type="tns:CanonicalBase64Type" />
      <xs:element name="ServiceIdentitySha256" type="tns:CanonicalBase64Type" />
      <xs:element name="ProofSignature" type="tns:CanonicalBase64Type" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element name="Result" type="tns:ResultType" />
      <xs:element name="Code" type="tns:CodeType" />
      <xs:element name="Message" type="tns:MessageType" />
      <xs:choice minOccurs="0">
        <xs:element name="TrustInfo" type="tns:TrustInfoType" />
        <xs:element name="UtcNow" type="tns:UtcDateTimeType" />
        <xs:element name="Service" type="tns:ServiceType" />
        <xs:sequence>
          <xs:element name="Status" type="tns:CertificateIssuanceStatusType" />
          <xs:choice>
            <xs:element name="RegistrationRequestId" type="tns:GuidType" />
            <xs:element name="RenewalRequestId" type="tns:GuidType" />
          </xs:choice>
          <xs:element name="Service" type="tns:ServiceType" />
          <xs:element name="Certificate" type="tns:IssuedCertificateType" />
        </xs:sequence>
      </xs:choice>
      <xs:element name="Extensions" type="tns:ExtensionsType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TrustInfoType">
    <xs:sequence>
      <xs:element name="SiteId" type="tns:GuidType" />
      <xs:element name="CaCertificate" type="tns:CanonicalBase64Type" />
      <xs:element name="CaSpkiSha256" type="tns:CanonicalBase64Type" />
      <xs:element name="CrlUri" type="tns:CrlUriType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element name="Name" type="tns:NameType" />
      <xs:element name="ProductCode" type="tns:ProductCodeType" />
      <xs:element name="ServiceHostName" type="tns:ServiceHostNameType" />
      <xs:element name="ServiceIpv4Address" type="tns:ServiceIpv4AddressType" />
      <xs:element name="Port" type="tns:PortType" />
      <xs:element name="LastModifiedUtc" type="tns:UtcDateTimeType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IssuedCertificateType">
    <xs:sequence>
      <xs:element name="LeafCertificate" type="tns:CanonicalBase64Type" />
      <xs:element name="IssuerCertificate" type="tns:CanonicalBase64Type" />
      <xs:element name="SerialNumber" type="tns:SerialNumberType" />
      <xs:element name="NotBeforeUtc" type="tns:UtcDateTimeType" />
      <xs:element name="NotAfterUtc" type="tns:UtcDateTimeType" />
      <xs:element name="CrlUri" type="tns:CrlUriType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExtensionsType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="ERROR" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CertificateIssuanceStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REGISTERED" />
      <xs:enumeration value="REREGISTERED" />
      <xs:enumeration value="REPLAYED" />
      <xs:enumeration value="RENEWED" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CodeType">
    <xs:restriction base="xs:unsignedInt">
      <xs:enumeration value="0" />
      <xs:enumeration value="1000" />
      <xs:enumeration value="1001" />
      <xs:enumeration value="1002" />
      <xs:enumeration value="1003" />
      <xs:enumeration value="1004" />
      <xs:enumeration value="1005" />
      <xs:enumeration value="1006" />
      <xs:enumeration value="1007" />
      <xs:enumeration value="3000" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="512" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameType">
    <xs:annotation>
      <xs:documentation>The maxLength accommodates 128 supplementary Unicode scalar values in .NET Framework's UTF-16 XSD validator. Domain validation also enforces 128 Unicode scalars and 512 UTF-8 bytes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameInputType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ProductCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProductCodeInputType">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:pattern value="[A-Za-z0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="IdentityInputType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ServiceHostNameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="253" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ServiceIpv4AddressType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}(\.[0-9]{1,3}){3}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PortType">
    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GuidType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SerialNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-F]{32}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CanonicalBase64Type">
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:pattern value="([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CrlUriType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="/pki/crl" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProofUtcDateTimeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UtcDateTimeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,7})?Z" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
