docs/plan/xsd/external.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn:deepai:service-directory:external"
           targetNamespace="urn:deepai:service-directory:external"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:annotation>
    <xs:documentation>Normative, versionless External HTTP XML contract.</xs:documentation>
  </xs:annotation>

  <xs:element name="RegistrationRequest" type="tns:RegistrationRequestType" />
  <xs:element name="Response" type="tns:ResponseType" />
  <xs:element name="Service" type="tns:ServiceType" />

  <xs:complexType name="RegistrationRequestType">
    <xs:sequence>
      <xs:element name="Name" type="tns:NameType" />
      <xs:element name="ProductCode" type="tns:ProductCodeInputType" />
      <xs:element name="ServerAddress" type="tns:ServerAddressType" />
      <xs:element name="Port" type="tns:PortType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element name="Result" type="tns:ResultType" />
      <xs:element name="Code" type="tns:CodeType" />
      <xs:element name="Message" type="tns:MessageType" />
      <xs:choice minOccurs="0">
        <xs:element name="UtcNow" type="tns:UtcDateTimeType" />
        <xs:element name="Service" type="tns:ServiceType" />
        <xs:sequence>
          <xs:element name="Status" type="tns:RegistrationStatusType" />
          <xs:element name="PendingId" type="tns:GuidType" minOccurs="0" />
        </xs:sequence>
      </xs:choice>
      <xs:element name="Extensions" type="tns:ExtensionsType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element name="Name" type="tns:NameType" />
      <xs:element name="ProductCode" type="tns:ProductCodeType" />
      <xs:element name="ServerAddress" type="tns:ServerAddressType" />
      <xs:element name="Port" type="tns:PortType" />
      <xs:element name="LastModifiedUtc" type="tns:UtcDateTimeType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExtensionsType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="ERROR" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RegistrationStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDING_NEW" />
      <xs:enumeration value="PENDING_MODIFY" />
      <xs:enumeration value="PENDING_EXISTS" />
      <xs:enumeration value="ALREADY_REGISTERED" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CodeType">
    <xs:restriction base="xs:unsignedInt">
      <xs:enumeration value="0" />
      <xs:enumeration value="1000" />
      <xs:enumeration value="1001" />
      <xs:enumeration value="1002" />
      <xs:enumeration value="1003" />
      <xs:enumeration value="1004" />
      <xs:enumeration value="3000" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="512" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProductCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProductCodeInputType">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:pattern value="[A-Za-z0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ServerAddressType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="253" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PortType">
    <xs:restriction base="xs:unsignedShort">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GuidType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UtcDateTimeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,7})?Z" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
